* {
  user-select: none;
}

#root {
  background-color: #CCC;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.person {
  text-align: center;
  padding: 10px;
  width: 150px;
  overflow-x: hidden;
}

.person.dead {
  filter: grayscale();
}

.small .person {
  width: 100px;
}

.tiny .person {
  width: 70px;
}

.person img {
  width: 100%;
}

.person.clickable img {
  transform: translate(0, 0);
  transition: transform 0.2s linear;
  cursor: pointer;
}

.person.clickable img:hover {
  transform: translate(0, -5px);
}

.nav {
  background-color: #444;
  text-transform: capitalize;
}

@media only screen and (min-width: 1260px) {
  #game {
    min-width: 60vw;
  }
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .tab-content > .tab-pane {
    display: block;
  }

  nav {
   display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .tab-content > .tab-pane {
    width: 95%;
  }
}

.nav-link {
  text-shadow: none !important;
  border-radius: 0 !important;
}